{% extends "base.html"%}
{% load static %}
{% block title%} Questions {% endblock %}
{% block content %}
	<div class="content">
		<div class="questions">
			<div class="questions-title">
				<p>{{ questions_page_title }}</p>
			</div>
			{% for question_ in questions %}
		        <a href="/question/id{{ question_.id }}">
		        <div class="questions-question border">
		          <div class="questions-question-avatar">
		            <a href="/user/{{ question_.user.username }}">
		              <img src="/{{ question_.user.profile.avatar.url }}" class="img-circle questions-question-avatar-img">
		            </a>
		          </div>
		          <div class="questions-question-like">
		            <a href="#action">
		              <img src="{% static 'imgs/like.png'%}" class="img-circle questions-question-like-img">
		            </a>
		            <p class="questions-question-like-count">{{ question_.rating }}</p>
		          </div>
		          <div class="questions-question-title">
		            <a href="/question/id{{ question_.id }}">{{ question_.title }}</a>
		          </div>
		          <div class="questions-question-description">
		            <p>
		              {{ question_.text }}
		            </p>
		          </div>
		          <div class="questions-question-answers">
		            <a href="/question/id{{ question_.id }}">
		              <span>Answers(</span><span id="answers">{{ question_.answer_set.count }}</span><span>)</span>
		            </a>
		          </div>
		          <div class="questions-question-tags-title">
		            <span>Tags: </span>
		            <div class="questions-question-tags">
		              {% for tag in question_.tags.all %}
						<a href="/tag/{{ tag }}">{{ tag }}</a>
					  {% endfor %}
		            </div>
		          </div>
		        </div>
		      </a>
			{% endfor %}
    </div>
  </div>
  {% include "paginator.html" %}
{% endblock %}

